body {
    display: block;
    margin: 0px;
    font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    min-height: 1478px;
}

header{
    display: flex;
    height: 100px;
    width: auto;
    background-color: #fff159;
    justify-content: flex-start
}

.headIzq{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center
}
.logo{
    display:flex;
    width: 400px;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    
}
.envio{
    display:flex;
    width: 400px;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}

.buscador{
    width: 43%;
    display:flex;
    justify-content: center; 
    flex-direction: column;
}
.buscador >.caja{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.caja > input{
    
    border:transparent;
    height: 35px;
}
#nomCaja{
    width: 100%;
}
.caja > ul{
    display:flex;
    flex-direction: row;
    list-style: none;
}
.caja ul li{
        color:#33333399;
        margin: 5px;
}
.caja ul li a{
    color :#33333399; 
    text-decoration: none;
    font-size: 14px;
}

.headDer{
    display:flex;
    width: 33%;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center
}
.mercPoint{
    display:flex;
    justify-content: center;
    
}
.botonera{
    display:flex;
    justify-content: center;
    width: 200px;
}

.botonera ul{
    display:flex;
    flex-direction: row;
    list-style: none;
}

.botonera ul li{
    color:#33333399;
    margin: 5px;
}

#lupa{
   
    color:#33333399;
    height: 37px;
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: center;
    background: white;
}

.exibidor .destacados{
    display: flex;

}

.pagosCont{
    display: flex;
    height: 170px;
    width: auto;
    background-color: #ebebeb;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    align-items: center;
    justify-content: space-evenly;
}

.opcPago{
    background-color: #ffffff;
    display: flex;
    height: 90px;
    border-radius: 4px;
}

.credito{
    display: flex;
    align-items: center;
    padding: 20px;
    
}

.datoTarj{
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-right: 16px;
}

.debito{
    display: flex;
    align-items: center;
    padding: 20px;
}

.efectivo{
    display: flex;
    align-items: center;
    padding: 20px;
}

.otrasOpc{
    display: flex;
    align-items: center;
    padding: 20px;
}

.recomendaciones{
    display: flex;
    justify-content: space-around;
    background-color: #ebebeb;

}

.nomSecc{
    
    display: flex;
}

.nomSecc h1{
    color: #666;
    font-weight:normal;
}

.conCarrRecom{
    background-color: #ebebeb;
    display: flex;
}

.prod1{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.prod1 img{
    width: 224px;
    height: 224px;
    margin: 0px;
}

.infoProd{
    background-color: #ffffff;
}

